.main-table {
  margin: auto;
  width: 90%;
}

table {
  margin-top: 20px;
}

table thead th.col-question {
  width: 30%;
}

table thead th.col-date {
  width: 115px;
}

.form-inline {
  margin-top: 20px;
  padding-left: 0;
}